<div class="contenedor-preguntados" >
  <div style="color: black; font-size: 1.5rem; margin-top: 20px; position: fixed;">Aciertos: {{contadorAciertos}}</div>

    <div style="color: red; font-size: 1.5rem; margin-top: 20px; position: fixed; right: 10%;">
       Vidas: {{ vidas }}
    </div>
    <div style="color: black; font-size: 1.5rem; margin-top: 50px;">
      Tiempo: {{ tiempoTranscurrido }}s
    </div>


  <div class="contenedor-pregunta">
    <h2 class="titulo">{{ '¿Quién es este personaje?' }}</h2>
    <img [src]="imagen" alt="Imagen del personaje" class="imagen-personaje" />

    <div class="opciones-grid">
      <button 
        *ngFor="let opcion of opciones" 
        (click)="elegirOpcion(opcion)"
        class="boton-opcion"
        [disabled]="cargando || respondido"
      >
        {{ opcion }}
      </button>
    </div>
    <div *ngIf="!juegoTerminado">
      <p class="mensaje">{{ mensaje }}</p>

      <button *ngIf="respondido" (click)="siguientePregunta()" class="boton-siguiente">
        Siguiente pregunta
      </button>

    </div>



      <div *ngIf="juegoTerminado" class="contenedor-final" style="margin-top: 30px;">
          <p class="mensaje-final" style="font-size: 1.5rem; color: darkred;">{{ mensaje }}</p>
          <button (click)="reiniciarJuego()" class="boton-reiniciar">
            Reiniciar juego
          </button>
      </div>

    <button class="boton-home" (click)="irAlMenu()">Volver al menu</button>
  </div>

</div>
