<div class="quien-soy-container">
    <h2>Quién Soy</h2>
    <div class="alumno-info">
      <img [src]="alumno.imagen" alt="Imagen del Alumno" class="alumno-imagen" />
      <div class="datos-personales">
        <p><strong>Nombre:</strong> {{ alumno.nombre }}</p>
        <p><strong>Edad:</strong> {{ alumno.edad }}</p>
        <p><strong>Facultad:</strong> {{ alumno.curso }}</p>
      </div>
    </div>
    <div class="explicacion-juego">
      <h3>Juego propio</h3>
      <p><strong>Nombre del juego:</strong>Adivina al argentino</p>
      
      <p><strong>Objetivo:</strong> Adivinar al personaje famoso argentino con ayuda de pistas.</p>
      
      <p><strong>¿Cómo funciona?</strong><br>
        Cuando empieza el juego, tenes que empezar a probar personajes argentinos, con ayuda de pistas vas a tratar de adivinar.
      </p>
      
      <p><strong>¿Qué tiene el juego?</strong></p>
    
        <li><strong>Un cuadro de texto para ingresar el nombre de la persona:</strong> Hay muchos (jugadores, politicos, famosos, personajes y cantantes ).</li>
        <li><strong>Categorias:</strong> Inoformacion que sirve como pista para adivinar cada personaje.</li>
        <li><strong>Categoria erronea:</strong> Si ingresas un nombre y alguna de sus caracteristicas no coincide con la de la persona oculta, esta categoria se pintara de rojo.</li>
        <li><strong>Categoria correcta:</strong> Si ingresas un nombre y alguna de sus caracteristicas coincide con la de la persona oculta, esta categoria se pintara de verde como correcta.</li>
        <li><strong>Categoria edad:</strong> Si ingresas un nombre y la edad de este es cercana a la de la persona oculta, esta categoria se pintara de amarillo.</li>
    
      <p><strong>Caracteristicas del juego:</strong></p>
        <li>Maximo 7 errores.</li>
        <li>Ranking de opcion correcta mas rapida.</li>
        <li>Ranking de opcion correcta en menos opciones.</li>     
    </div>
        <button class="boton-home" (click)="irAlMenu()">Volver al menu</button>
  </div>
  