<div class="home-container">
  <div class="titulo-container">
    <h1>Bienvenido a la Clinica Online</h1>
    <h2>{{ emailUsuario }} - {{ tipoUsuario }}</h2>

  </div>


  <div class="botones">

    <button *ngIf="mostrarBotonSeccion" class="secundarios"  type="button" (click)="irASeccionUsuarios()">Gestionar usuarios</button>
    <button *ngIf="mostrarBotonSeccion" class="secundarios"  type="button" (click)="registrarUsuarios()">Registrar usuarios</button>
    <button *ngIf="mostrarBotonSeccionEspecialista" class="secundarios"  type="button" (click)="registrarTurnos()">Ver mis turnos</button>
    <button *ngIf="mostrarBotonSeccion" class="secundarios"  type="button" (click)="administrarTurnos()">Administrar turnos</button>
    <button *ngIf="mostrarBotonSeccionEspecialista" class="secundarios"  type="button" (click)="irAMiPerfil()">Mi perfil</button>
    <button *ngIf="mostrarBotonSeccionPaciente || mostrarBotonSeccion" class="secundarios"  type="button" (click)="irASacarTurnos()">Reservar turnos</button>

  </div>


    <div class="salida"  >
    <button (click)="cerrarSesion()">
      <img src="/assets/salida.png" alt="salida" style="width: 70px; height: 70px;" />
    </button>
  </div>
</div>
