<header class="toolbar">
  <h1>Mi Perfil</h1>

</header>
<div class="contenedor-historias">

  <div class="historiales-container">
    <div *ngIf="historias.length === 0">
      <p>No se encontraron atenciones finalizadas aún.</p>
    </div>
      <div class="filtro-especialista">
        <input 
          type="text" 
          placeholder="Buscar especialista" 
          [(ngModel)]="filtroEspecialista" />
      </div>

    <div *ngFor="let historia of historias | filtroHistoriasPorEspecialista:filtroEspecialista" class="card-historia">
      <h2>Historia Clínica</h2>
      <h3>Fecha: {{ historia.fecha | date:'shortDate' }}</h3>
      <p><strong>Especialista:</strong> {{ historia.especialista?.nombre }} {{ historia.especialista?.apellido }}</p>


      <h4>Datos Clínicos</h4>
      <ul>
        <li><strong>Altura:</strong><span [innerHTML]="historia.historia_clinica?.altura | resaltarEdad"></span> cm</li>
        <li><strong>Peso:</strong> <span [innerHTML]="historia.historia_clinica?.peso | resaltarEdad"></span> kg</li>
        <li><strong>Temperatura:</strong> <span [innerHTML]="historia.historia_clinica?.temperatura | resaltarEdad"></span> °C</li>
        <li><strong>Presión:</strong> <span [innerHTML]="historia.historia_clinica?.presion | resaltarEdad"></span></li>
      </ul>

      <div *ngIf="historia.historia_clinica?.datos_dinamicos">
        <h4>Datos adicionales</h4>
        <ul>
          <li *ngFor="let key of (historia.historia_clinica?.datos_dinamicos | keyvalue)">
            <strong>{{ key.key }}:</strong> {{ key.value }}
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="info-box" *ngIf="usuario">
    <h2>Datos Personales</h2>

    <div class="foto-container">
      <img *ngIf="usuario.imagen1" [src]="usuario.imagen1" alt="Imagen del paciente" />
    </div>

    <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
    <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
    <p><strong>Email:</strong> {{ usuario.email }}</p>
    <p><strong>Edad:</strong> <span [innerHTML]="usuario.edad | resaltarEdad"></span></p>
    <p><strong>DNI: </strong> <span [innerHTML]="usuario.dni | resaltarEdad"></span></p>

  <button class="btn-descarga" (click)="generarPdf()" infoBoton="Descarga la historia clinicaa">Descargar historia clinica</button>

  <div style="margin-top: 15px; font-size: 1.1rem; gap: 15px;" class="filtro-especialidad">
    <label style="margin-bottom: 15px;" for="especialidadSelect">Descargar por especialidad:</label>
    <select id="especialidadSelect" [(ngModel)]="especialidadSeleccionada">
      <option value=""></option>
      <option *ngFor="let esp of obtenerEspecialidadesUnicas()" [value]="esp">{{ esp }}</option>
    </select>
    <button style="background-color: #0d47a1; color: white; padding: 5px; border: none;"  (click)="descargarAtencionesPorEspecialidad()">Descargar Excel Especialidad</button>
  </div>

    </div>
  </div>

    <button class="boton-home" (click)="irAlMenu()" rotar>Volver al menu</button>

<footer class="footer">
  <p>Clínica Digital © 2025 - Todos los derechos reservados</p>
</footer>


