<div class="solicitar-turno">
  <div class="seccion-titulo">
    <h1>Solicitar Turno</h1>
      <div *ngIf="mensaje" style="color: rgb(30, 255, 0); font-size: 2rem; " >
        {{ mensaje.texto }}
      </div>
  </div>



  <div class="perfil-container">
    <div class="horarios-box">
      <form [formGroup]="turnoForm" (ngSubmit)="solicitarTurno()">

    <!-- especialistas -->
    <h1>Especialistas</h1>
    <div class="grid-especialistas">
        <div *ngFor="let e of especialistas" class="card-especialista"
            [class.seleccionado]="turnoForm.value.especialista_id === e.id"
            (click)="turnoForm.patchValue({ especialista_id: e.id }); filtrarEspecialidades(e)">
          <img [src]="e.imagen1" alt="Foto especialista">
          <p>{{ e.nombre }} {{ e.apellido }}</p>
        </div>
      </div>

      <!-- especialidades -->
      <div *ngIf="especialidadesFiltradas.length > 0" class="grid-especialidades">
        <h1>Especialidades</h1>
        <div *ngFor="let esp of especialidadesFiltradas" class="card-especialidad"
            [class.seleccionado]="turnoForm.value.especialidad === esp"
            (click)="turnoForm.patchValue({ especialidad: esp }); seleccionarEspecialista()">
          <img [src]="getImagenEspecialidad(esp)" alt="Foto especialidad">
          <p>{{ esp }}</p>
        </div>
      </div>

      <!-- Dias -->
      <div *ngIf="diasDisponibles.length > 0" class="grid-dias">
        <label>Día:</label>
        <div class="botones-dias">
          <button type="button" *ngFor="let d of diasDisponibles"
                  [ngClass]="{'btn-dia-seleccionado': turnoForm.value.fecha === d}"
                  class="btn-dia"
                  (click)="turnoForm.patchValue({ fecha: d }); seleccionarFechaConfiguracion()">
            {{ d | date: 'dd-MM-yyyy' }}
          </button>
        </div>
      </div>

      <!-- Horarios -->
      <div *ngIf="horariosDisponibles.length > 0" class="grid-horas">
        <label>Horario:</label>
        <div class="botones-horas">
          <button type="button" *ngFor="let h of horariosDisponibles"
                  [ngClass]="{'btn-hora-seleccionado': turnoForm.value.hora === h}"
                  class="btn-hora"
                  (click)="turnoForm.patchValue({ hora: h })">
            {{ formatearHoraAMPM(h) }}
          </button>
        </div>
      </div>



      <!--administrador -->
      <div *ngIf="usuario?.tipo === 'administrador'">
        <label>Buscar Paciente (DNI):</label>
        <input type="text" 
              [value]="pacienteBuscado" 
              (input)="obtenerInputPaciente($event)" 
              placeholder="Escriba DNI..." 
              autocomplete="off" />

        <ul *ngIf="pacientesFiltrados.length > 0" class="pacientes-filtrados">
          <li *ngFor="let p of pacientesFiltrados" (click)="seleccionarPaciente(p)">
            {{ p.dni }} - {{ p.nombre }} {{ p.apellido }}
          </li>
        </ul>
      </div>

        <button type="submit" [disabled]="turnoForm.invalid">Solicitar Turno</button>
      </form>
    </div>

  <!-- Info paciente -->
  <div class="info-box" *ngIf="usuario && (usuario.tipo !== 'administrador' || pacienteSeleccionado)">
    <h2>Paciente</h2>

    <div class="foto-container">
      <img *ngIf="(usuario.tipo !== 'administrador' ? usuario.imagen1 : pacienteSeleccionado?.imagen1)"
          [src]="usuario.tipo !== 'administrador' ? usuario.imagen1 : pacienteSeleccionado.imagen1"
          alt="Imagen 1" />
    </div>

    <p><strong>Nombre:</strong> {{ usuario.tipo !== 'administrador' ? usuario.nombre : pacienteSeleccionado?.nombre }}</p>
    <p><strong>Apellido:</strong> {{ usuario.tipo !== 'administrador' ? usuario.apellido : pacienteSeleccionado?.apellido }}</p>
    <p><strong>Email:</strong> {{ usuario.tipo !== 'administrador' ? usuario.email : pacienteSeleccionado?.email }}</p>
    <p><strong>Edad:</strong> {{ usuario.tipo !== 'administrador' ? usuario.edad : pacienteSeleccionado?.edad }}</p>
    <p><strong>Dni:</strong> {{ usuario.tipo !== 'administrador' ? usuario.dni : pacienteSeleccionado?.dni }}</p>




    <div *ngIf="(usuario.tipo !== 'administrador' ? usuario.especialidades?.length : pacienteSeleccionado?.especialidades?.length)">
      <p><strong>Especialidades:</strong></p>
      <ul class="especialidades-list">
        <li *ngFor="let esp of (usuario.tipo !== 'administrador' ? usuario.especialidades : pacienteSeleccionado?.especialidades)">
          {{ esp }}
        </li>
      </ul>
    </div>
  </div>
  
</div>
<button class="boton-home" (click)="irAlMenu()">Volver al menu</button>


<footer class="footer">
  <p>Clínica Digital © 2025 - Todos los derechos reservados</p>
</footer>
