<button class="boton-chat" (click)="mostrarChat()">💬</button>

<div class="chat-box" *ngIf="chatAbierto">
  <div class="chat-mensajes" id="chat-mensajes">
    <div
      *ngFor="let mensaje of mensajes"
      [ngClass]="{
        'mensaje-propio': mensaje.usuario_id === usuarioId,
        'mensaje-ajeno': mensaje.usuario_id !== usuarioId
      }"
  >
    <strong *ngIf="mensaje.usuario_id !== usuarioId">
      {{ userMap[mensaje.usuario_id] || 'Desconocido' }}:
    </strong>
    <span>{{ mensaje.mensaje }}</span>
    <div class="hora">{{ mensaje.fecha | date: 'shortTime' }}</div>
</div>

  </div>

  <form [formGroup]="chatForm" (ngSubmit)="enviarMensaje()">
    <input formControlName="mensaje" placeholder="Escribí tu mensaje..." autocomplete="off" />
    <button type="submit">Enviar</button>
  </form>
</div>
