.boton-chat {
  position: fixed;
  bottom: 60px;
  left: 20px;
  z-index: 10;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
}

.chat-box {
  position: fixed;
  bottom: 130px;
  left: 20px;
  width: 450px;
  max-height: 400px;
  min-height: 200px;
  background: #e5ddd5;
  border: 1.5px solid #00e1ff;
  display: flex;
  flex-direction: column;
  z-index: 20;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.chat-mensajes {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
  background-color: #e5ddd5;
}

.mensaje-propio {
  background-color: #479709;
  align-self: flex-end;
  text-align: right;
  margin: 6px 0;
  padding: 8px 12px;
  border-radius: 15px 15px 0 15px;
  max-width: 70%;
  word-break: break-word;
}

.mensaje-ajeno {
  background-color: #ff0c0c;
  align-self: flex-start;
  text-align: left;
  margin: 6px 0;
  padding: 8px 12px;
  border-radius: 15px 15px 15px 0;
  max-width: 70%;
  word-break: break-word;
}

form {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 8px;
  background-color: #fff;
}

input {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 20px;
  background-color: #f1f0f0;
  margin-right: 10px;
  font-size: 14px;
  outline: none;
}

button[type="submit"] {
  background: #28a745;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background: #218838;
}

.hora {
  font-size: 11px;
  color: rgb(238, 238, 238);
  margin-top: 4px;
  text-align: right;
}
