.toolbar {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.toolbar button {
  background-color: #005c93;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toolbar button:hover {
  background-color: #4329d1;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #ffffff;
}

/*especialistas */
.especialista-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 2rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  align-items: center;
  margin-left: 500px;
}

.especialista-info p {
  margin: 0.3rem 0;
  color: #333;
}

.aprobar-btn {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}


.aprobado {
  background-color: #e74c3c;
  color: white;
}

.no-aprobado {
  background-color: #2ecc71;
  color: white;
}

.aprobar-btn:hover {
  opacity: 0.9;
}

.datos
{
  background-color: #ddbe84;
  padding: 25px;
  border: none;
  border-radius: 25px;
}

.historia
{
  background-color: #d0dd84;
  padding: 25px;
  margin-top: 15px;
  border: none;
  border-radius: 25px;

}

.paciente-box {
  max-width: 700px;
  margin: auto;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.paciente-box input[type="text"] {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.pacientes-filtrados {
  list-style: none;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.pacientes-filtrados li {
  padding: 0.6rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pacientes-filtrados li:hover {
  background-color: #f0f0f0;
}

/* paciente */
.paciente-info {
  margin-top: 2rem;
}

.paciente-info p {
  margin: 0.4rem 0;
}

.foto-container {
  text-align: center;
  margin-bottom: 1rem;
}

.foto-container img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #005c93;
}


ul {
  padding-left: 1.2rem;
  margin: 0.5rem 0;
}

ul li {
  margin-bottom: 0.3rem;
}


.boton-home {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
  width: 140px;
}

.boton-home:hover {
  background-color: #218838;
}


