<div class="login-container" style= "--background: #00d3be">
        <div *ngIf="mensaje" [ngClass]="mensaje?.tipo" class="mensaje">
      {{ mensaje.texto }}
    </div>

  <div  class="login-overlay">

    <div class="autocompletar">
      <img src="/assets/lebron.jpg" (click)="autocompletar('pruebaclinicapaciente@gmail.com')" alt="Paciente">
      <img src="/assets/nena.jpg" (click)="autocompletar('sofia@lomonaco.com')" alt="Paciente">
      <img src="/assets/hoombre40.jpg" (click)="autocompletar('pedro@lopez.com')" alt="Paciente">
      <img src="/assets/anciana.png" (click)="autocompletar('mirtha@martinez.com')" alt="Especialista">
      <img src="/assets/marcos.jpg" (click)="autocompletar('pruebaclinicaespecialista@gmail.com')" alt="Especialista">
      <img src="/assets/rodrigo.avif" (click)="autocompletar('rodrigo123@fernandez.com')" alt="Administrador">
    </div>
  

   <div class="inicio">
     <h2>Inicio de sesión</h2>
     <img src="/assets/clinica2.png" alt="Imagen de inicio" class="login-image" />
     
    </div>

 
    <form [formGroup]="formularioLogin" (ngSubmit)="ingresar()">
      <div style="margin-left: 230px;" class="form-item">

        <label for="correo">Correo Electrónico</label>
        <input id="correo" formControlName="correo" type="email" placeholder="Introduce tu correo" />
      </div>
  
      <div style="margin-left: 230px;" class="form-item">
        <label for="contrasena">Contraseña</label>
        <input id="contrasena" formControlName="contrasena" type="password" placeholder="Introduce tu contraseña" />
      </div>
  
      <button style="margin-left: 280px;" type="submit" class="submit-btn">Ingresar</button>
    </form>


    <div class="registro-link">
      <span>¿No tenes cuenta?</span>
      <button type="button" (click)="irARegistro()">Regístrate</button>
    </div>
    </div>
  </div>

  