html, body {
  /*background: linear-gradient(to bottom, #f7f7f7, #c8f2fa, #00d3be);*/
  background-color: #005c93;
  height: 100%;
  width: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
